 import React from "react";
import Background from "./components/Background";
import LoginForm from "./components/LoginForm"; 

function App() {
  return (
    <div className="relative min-h-screen flex items-center justify-center">
      <Background />
      <LoginForm />
    </div>
  );
}

export default App; 


 
